.btn-plus{
    font-family: monospace !important;
    width: -webkit-fill-available !important;
    height: 79px !important;
    font-size: x-large !important;
    color: #007bff !important;
}
.tc{
    color: #2196f3!important;
}